.env
.DS_Store
.docker-compose.podman-runtime.yml.*
dmz/.env
.idea/
gw-data/
docker-compose.override.yml
secrets/secrets.env
license/license.json
broker/data/
broker/logs/
git/data/
postgres/data/
nginx/certs/*
!nginx/certs/.gitkeep
dmz/certs/*
!dmz/certs/.gitkeep
*.bak
images/
.install-state/
